.nav{
   /* position: fixed; */
    top: 0;  
}

.nav h1{
    margin: 0px;
    color:rgb(46, 46, 46);
}

.nav button{
    color: white;
    background-color: rgb(46, 46, 46);
    margin: 5px 15px;
    height: 25px;
    width: 75px;
    border-radius: 5px;
}